<li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Materias</span>
        <i class="menu-arrow"></i> 
    </a>
    <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="{% url 'lista_materias' %}">Lista</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'nueva_materia' %}">Agregar</a></li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Unidades académicas</span>
        <i class="menu-arrow"></i> 
    </a>
    <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="{% url 'lista_materias' %}">Lista</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'nueva_materia' %}">Agregar</a></li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Usuarios</span>
        <i class="menu-arrow"></i> 
    </a>
    <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="{% url 'lista_materias' %}">Lista</a></li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'nueva_materia' %}">Agregar</a></li>
        </ul>
    </div>
</li>