{% extends 'base.html' %}


{% block titulo %}
    Nuevo programa
{% endblock titulo %}

{% block contenido %}
    <h1>Nuevo programa</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Agregar</button>
    </form>
{% endblock contenido %}