{% extends 'base.html' %}

{% block titulo %}
    {{accion}} materia
{% endblock titulo %}
    
{% block contenido %}
    <h1>{{accion}} materia</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">
           {% if accion == 'Nueva' %}
                Agregar
            {% else %}
                Guardar
           {% endif %} 
        </button>
    </form>

{% endblock contenido %}