{% extends 'base.html' %}

{% block titulo %}
Eliminar materia
{% endblock titulo %}

{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <p>¿Estás seguro de querer eliminar la materia {{object.nombre}}?</p>
        {{form}}
        <button  class="btn btn-danger" type="submit">Eliminar</button>
        <a class="btn btn-warning" href="{% url 'lista_materias' %}">Cancelar</a>
    </form>
{% endblock contenido %}