{% extends 'base.html' %}

{% block titulo %}
    Lista de usuarios
{% endblock titulo %}

{% block contenido %}
<h1>Lista de usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th><input type="checkbox" name="todos" id=""></th>
            <th>Nombre de usuario</th>
            <th>E-mail</th>
            <th>Acciones</th>
        </tr>
    </thead>
        <tbody>
            <form action="{% url 'eliminar_todas' %}" method="post">
                {% csrf_token %}
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        <input type="checkbox" name="{{usuario.id}}" >
                    </td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" 
                            href="{% url 'editar_materia' usuario.id %}">
                            Editar
                        </a>
                        <a class="btn btn-sm btn-danger" 
                            href="{% url 'eliminar_materia' usuario.id %}">
                            Eliminar
                        </a>
                        <a class="btn btn-sm btn-warning" 
                            href="{% url 'eliminar_materia' usuario.id %}">
                            Asignar grupos
                        </a>
                    </td>
                </tr>
            {% endfor %}
       
        </tbody>
    </table>
    <select name="grupo">
        {% for grupo in grupos  %}
            <option value="{{grupo.id}}">{{grupo.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Asignar</button>
    </form>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="javascript:enviar(1);">&laquo; first</a>
                <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
                <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script>
        function enviar(page){
            $("#page").val(page);
            $("#form").submit();
        }
    </script>
{% endblock scripts %}
    