{% extends 'base.html' %}


{% block titulo %}
    Perfil docente
{% endblock titulo %}

{% block contenido %}
    <h1>Perfil docente</h1>
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
{% endblock contenido %}