<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo docente</title>
</head>
<body>
    <h1>Nuevo docente</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Agregar</button>
    </form>
</body>
</html>